@font-face {
    font-family: "NokoraBlack";
    src: url(/font/Nokora-Black.ttf);
}

@font-face {
    font-family: "NokoraRegular";
    src: url(/font/Nokora-Regular.ttf);
}

:root {
    --principal: #a7ab99;
    --secundario: #333;
}

.ff-black {
    font-family: "NokoraBlack";
}

.ff-regular {
    font-family: "NokoraRegular";
}

/*------------------------------*/

body {
    background-color: var(--principal);
}

.header {
    overflow: hidden;
    background-color: var(--secundario);
    font-family: "NokoraBlack";
}

.header a {
    float: left;
    color: #f2f2f2;
    padding: 1.5em;
    text-decoration: none;
    font-size: 16px;
}

.header a:first-child:hover {
    background-color: var(--secundario);
}

.header a:hover {
    color: gray;
    transition: 0.5s;
}

.header .icon {
    display: none;
}

#logo {
    margin-left: 3em;
}

#logo img {
    width: 46%;
    height: auto;
}

#desplegable {
    border: 0;
    background-color: var(--principal);
    padding: 0;
}

#info-ubi {
    display: none;
    padding: 3%;
    background-color: var(--secundario);
    border-radius: 1em;
}

iframe {
    width: 100%;
    height: 250px;
    border-radius: 1em;
    border: solid 2px black;
}

.carta {
    border-radius: 1em;
}

#tira {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tira img {
    padding: 5vh 0;
}

#tira-movil{
    display: none;
}

#segundo-body {
    background-image: url(../img/marron.jpg);
    margin: 4em 0;
    border-top: 1px var(--secundario) solid;
    border-bottom: 1px var(--secundario) solid;
}

#row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.pruebas{
    padding: 1vh;
    border-radius: 1em;
    border: 1px black solid;
    background-color: white;
}

.pruebas img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    border: 1px black solid;
} 

.pruebas:hover {
    cursor: pointer;
} 

.opinion{
    padding: 1vh;
    border-radius: 1em;
    border: 1px black solid;
    background-color: white;
}

.ubi{
    font-size: 10px;
    color: cadetblue;
    text-align: center;
}

/* FORMULARIO */

#form{
    width: 90%;
    margin: 0;
}

.input-group{
    width: 50%;
}

#texto{
    margin: 2em 0 0 2em;
    width: 60%;
}

/* FOOTER */

.footer {
    background: var(--secundario);
    padding: 3em 0;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    color: gray;
    font-size: 16px;
}

.footer .row a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.footer .row a:hover {
    color: gray;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0 3em;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

#info-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

#copyright {
    color: #7e7e7e;
    font-size: 10px;
}