@font-face {
    font-family: "NokoraBlack";
    src: url(/font/Nokora-Black.ttf);
}

@font-face {
    font-family: "NokoraRegular";
    src: url(/font/Nokora-Regular.ttf);
}

:root{
    --principal: #a7ab99;
    --secundario: #333;
}

.ff-black{
    font-family: "NokoraBlack";
}

.ff-regular{
    font-family: "NokoraRegular";
}

/*------------------------------*/

body{
    background-color: var(--principal);
}

.header {
    overflow: hidden;
    background-color: var(--secundario);
    font-family: "NokoraBlack";
}

.header a{
    float: left;
    color: #f2f2f2;
    padding: 1.5em;
    text-decoration: none;
    font-size: 16px;
}

.header a:first-child:hover {
    background-color: var(--secundario);
    color: white;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header .icon {
    display: none;
}

#logo{
    margin-left: 3em;
}

#logo img{
    width: 46%;
    height: auto;
}

#desplegable{
    border: 0;
    background-color: var(--principal);
    padding: 0;
}

#info-ubi{
    display: none;
    padding: 3%;
    background-color: var(--secundario);
    border-radius: 1em;
}

iframe{
    width: 100%;
    height: 250px;
    border-radius: 1em;
    border: solid 2px black;
}